.wrapperDiv {
    position: fixed;
    top: 64;
    left: 8px;
    min-width: 21rem;
    max-width: 21rem;
}

.scrollable {
    display: inline-block;
    overflow: scroll;
}

.login, .textGame, .weather {
    display: inline-block;
    padding-left: 8px;
    width: 100%;
}

.noScrollbars {
    -ms-overflow-style: none;
}

.noScrollbars::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1024px) and (min-width: 800px) {
    .wrapperDiv {
       display: flex;
       position: absolute;
       min-width: 100vw;
       margin: 0px;
       background: #260000;
    }
   
    .scrollable {
       display: inline-flex;
    }
   
    .login {
        display: block;
    }

    .login, .textGame, .weather {
       display: inline-flex;
       padding: 4px;
       background: #260000;
    }
   }

@media (max-width: 799px) and (min-width: 340px) {
    .wrapperDiv {
       display: inline-block;
       position: absolute;
       min-width: 100vw;
       margin: 0px;
       background: #260000;
    }

    .scrollable {
        display: inline-block;
    }
   
    .login, .textGame, .weather {
       background: #260000;
    }
   }
      
@media (max-width: 339px) and (min-width: 0px) {
    .textGame, .weather {
        display: none;
    }
}