.wrapperDiv {
    position: fixed;
    top: 64;
    left: 8px;
    min-width: 21rem;
    max-width: 21rem;
}

.login, .textGame, .weather {
    display: inline-block;
    width: 100%;
}

.noScrollbars {
    -ms-overflow-style: none;
}

.noScrollbars::-webkit-scrollbar {
    display: none;
}

@media (max-width: 340px) and (min-width: 0px) {
    .textGame, .weather {
        display: none;
    }
}