.wrapperDiv {
    position: fixed;
    top: 64;
    left: 8px;
    min-width: 21rem;
    max-width: 21rem;
}

/* .scrollable {
    display: inline-block;
    overflow: scroll;
    
} */

.login, .textGame, .weather {
    display: inline-block;
    width: 100%;
}

.noScrollbars {
    -ms-overflow-style: none;
}

.noScrollbars::-webkit-scrollbar {
    display: none;
}

@media (max-width: 780px) and (min-width: 340px) {
 .wrapperDiv {
    min-width: 100vw;
    margin: 0px;
    background: #260000;
 }

 .login, .textGame, .weather {
    background: #260000;
 }
}

@media (max-width: 339px) and (min-width: 0px) {
    .textGame, .weather {
        display: none;
    }
}