.container {
    margin-top: 1px;
    width: 290px;
    font-size: .65rem;
}

.time {
    color: #260000;
    font-size: .70rem;
}

.temp {
    padding: 8px;
    font-size: .75rem;
    font-weight: 500;
}

.windspeed {
    color: #260000;
}

.iconSlightGrey {
    color: gainsboro;
}

.iconGrey {
    color: slategrey;
}

.iconBlue {
    color: steelblue;
}

.iconHot {
    color: yellow;
}

.nudgeUp15p {
    position: relative;
    top: 15%;
    transform: translateY(-15%);
}

.nudgeDown50 {
    position: relative;
    top: 50%;
    transform: translateY(20%);
}

.interpret, .time {
    color: #260000;
    font-weight: 500;
}