.dropdown {
    font-size: .8rem;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    background-color: #d0b670;
    color: #260000;
}

.dropdown:hover {
    background-color: #b18030;
}

.menu {
    min-width: 200px;
    background: #260000;
}

.ddlItem {
    color: #d0b670;
    font-size: .7rem;
}