.Dropdown {
    background-color: #d0b670;
    color: #260000;
    font-size: .8rem;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
}

.Dropdown:hover {
    background-color: #b18030;
}

.menu {
    min-width: 200px;
    background: #260000;
}

.ddlItem {
    color: #d0b670;
    font-size: .7rem;
}