.link {
    padding: 0 4px;
    font-weight: 600;
    color: #260000;
}

.link:hover {
    color: #B18030;
}

.bodyImage {
    float: right;
    margin-right: 1rem;
    width: 160px;
    height: 160px;
    border-radius: 8px;
}

.code {
    color: #cc0000;
    font-size: 14pt;
}