.linkBody {
    border: solid 1px #260000;
    border-radius: 8px;
    background: rgba(177, 128, 48, 0.65);
    padding: 12px;
    box-shadow: 2px 2px 3px #260000;
}

.link {
    padding: 0 4px;
    font-weight: 600;
    color: #260000;
}

.link:hover {
    color: #B18030;
}

.href {
    margin: 0 8px;
    color: #260000;
    font-weight: 500;
}

.href:hover {
    color: #eebb5a;
}