.header {
    height: 5rem;
    display: flex;
}

.headertext {
    margin-left: 1.0rem;
    font-family: 'DragonSlapper';
    float: inline-start;
    color: #d0b670;
    text-shadow: 2px 2px 3px #000000;
    position: relative;
    top: 100%;
    transform: translateY(-90%);
}

.image {
    width: 75px;
    height: 75px;
}