.Card {
    width: 19rem;
    height: 20rem;
}
/* 
.outerDivClass {
    background: #260000;
    width: 19rem;
}

.innerDivClass {
    background: #d0b670;
    color: #260000;
    width: 18rem;
} */

.loginLabel {
    font-size: 8pt;
    font-weight: 300;
    color: #260000;
    text-shadow: none;
    margin-left: 4px;
}

.Button {
    margin-top: 8px;
    width: 40%;
    background: linear-gradient(0deg, #b08030, #d0b670, 80%, #b08030);
    color: #260000;
    border: solid 1px #260000;
    border-radius: 8px;
}

.LeftColumn {
    padding-top: 8px;
    background: #b18030;
    border: solid 1px #b18030;
    color: #260000;
    height: 150px
}

.container {
    margin-top: 1px;
    width: 275px;
    text-align: start;
    font-size: .65rem;
}

.UserInput {
    width: 15rem;
    display: block;
    background: #d0b670;
    margin: 2px 0px;
    border: solid 1px #260000;
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 7pt;
}

.smallText {
    font-size: .5rem;
    color: #260000;
}

.linksContainer {
    margin-top: 8px;
}

.loginLink {
    font-size: .5rem;
    float: right;
    text-decoration: none;
    color: #260000;
}

.loginLink:hover {
    color: #260000;
    text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}