.btn {
    font: inherit;
    color: #b18030;
    background: linear-gradient(180deg, #000000, #260000 20%, #000000 );
    border: 1px solid #260000;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 8.5rem;
    font-size: 0.75rem;
    border-radius: 8px;
}

.btn:hover {
    border: 1px solid #eebb5a;
}