.header {
    font-family: 'DragonSlapper';
    background: #260000;
    background: linear-gradient(180deg, #000000, #260000 20%, #000000 );
    color: #b18030;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 2px 2px 3px #000000;
}

.icon {
    position: absolute;
    right: 8px;
}

.icon:hover {
    cursor: pointer;
    color: #eebb5a;
}

.loginLabel {
    font-size: .5rem;
    font-weight: 300;
    text-shadow: none;
    margin-left: 4px;
}

.Button {
    width: 40%;
    background: linear-gradient(0deg, #b08030, #d0b670, 80%, #b08030);
    color: #260000;
    border: solid 1px #260000;
    border-radius: 8px;
}

.LeftColumn {
    background: #b18030;
    border: solid 1px #b18030;
    color: #260000;
    height: 150px
}

.container {
    margin-top: 3px;
    width: 280px;
    border: solid 1px #260000;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #260000;
    text-align: start;
    font-family: 'AGoblinAppears';
    font-size: .65rem;
    background-color: #d0b670;
}

.UserInput {
    width: 15rem;
    display: block;
    background: #d0b670;
    margin: 2px 0px;
    border: solid 1px #260000;
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 7pt;
}

.loginLink {
    font-size: .5rem;
    float: right;
    text-decoration: none;
    color: #260000;
}

.loginLink:hover {
    color: #b18030;
}

.left {
    float: left;
}

.right {
    float: right;
}