.App {
  background: linear-gradient(180deg, #000000, #260000 60%, #b18030 );
  background-attachment: fixed;
  text-align: center;
  width: calc(100vw - var(--scrollbar-width));
  height: 100vh;
}

.angry {
  display: none;
}

.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, .834);
  z-index: 15;
}

.loaderContainer2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  font-family: 'TribalDragon';
  font-weight: 600;
  font-size: 24pt;
  top: 21rem;
  color: #b18030;
  text-shadow: 2px 2px 5px #990000;
  z-index: 25;
}

.spinner {
  width: 512px;
  height: 512px;
  animation: spin-anim 4s linear 1;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.RowBody {
  padding-top: 4rem;
  position: fixed;
  overflow: auto;
  height: 96vh;
  width: calc(100vw - var(--scrollbar-width));
  display: flex;
}

.Body {
  background: url('./assets/images/dragon900.png');
  background-size: 54rem;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
}

.Right {
  position: absolute;
  right: 0;
  width: calc(100vw - 340px - var(--scrollbar-width)) !important;
  color: #260000;
}

.Left {
  position: absolute;
  left: 0;
  min-width: 100vw;
  color: #260000;
}

.ColRight {
  color: #260000;
  font-weight: 100;
  font-size: 1rem;
  min-height: 80vh;
  width: calc(100vw - 340px - var(--scrollbar-width)) !important;
  overflow: auto;
}

.ColLeft {
  position: fixed;
  /* background: linear-gradient(180deg, #000000, #260000 20%, #000000 );
  background-attachment: fixed; */
  color: #b18030;
}

.buttonHolder {
  display: block;
  height: 35px;
  width: 18px;
  position: fixed;
  float: left;
  top: calc(100vh - 50% - 17.5px);
  left: -2px;
  background: rgba(0, 0, 0, .5);
  border: solid 1px #b18030;
  background-attachment: fixed;
  z-index: 10;
}

.buttonHolder:hover {
  background: rgba(194, 17, 17, 0.5);
}

.chevron {
  position: relative;
  left: -3px;
}

.chevron {
  color: #d0b670;
}

@media (max-width: 1106px) and (min-width: 340px) {
  .spinner {
      width: 256px;
      height: 256px;
  }

  .loaderContainer2 {
    font-size: 16pt;
    top: 16rem;
  }

  .buttonHolder {
    display: inline-block;
  }
  
  .Body {
    background: url('./assets/images/dragon900.png'), #260000;
    background-size: 38rem;
    background-repeat: no-repeat;
    background-position: top right;
    /* background-position: 25% 60%; */
    background-attachment: fixed;
  }
  
  .ColLeft {
    /* background: linear-gradient(180deg, #000000, #260000 20%, #000000 );
    border: solid 1px #d0b670; */
    height: 91vh;
    z-index: 5;
    position: absolute;
    top: 61px;
    left: 0vw;
    width: 20rem;
    display: flex;
    justify-content: center;
  }

  /* .ColRight {
    left: 20rem;
    min-width: 20rem;
    max-width: 70rem;
  } */

  .fixed {
    position: relative;
    height: auto !important;
  }

  .RowBody {
    height: 96vh;
  }
}

@media (max-width: 1024px) and (min-width: 340px) {
  .App {
    display: flex;
  }
  .ColLeft {
    position: absolute;
    left: 0px;
  }
  .Sidebar {
    width: 100vw;
  }
  .ColRight {
    position: absolute;
    width: 100vw;
    left: 0rem;
  }
  .RightShow {
    display: inline-block;
  }
  .RightHide {
    display: none;
  }
}

@media (max-width: 560px) and (min-width: 340px) {
  .RowBody {
    width: 100vw;
    height: 100vh
  }
  
  .Right {
    display: none;
  }
  
  .buttonHolder {
    display: inline-block;
  }
  .RightShow {
    display: inline-block;
  }
  .RightHide {
    display: none;
  }
}

@media (max-width: 339px) and (min-width: 0px) {
  * {
    display: none;
  }
  .angry {
    display: block;
    width: calc(100vw - var(--scrollbar-width));
  }
}

@media print {
  .ColLeft {
    display: none;
  }
}