.App {
  text-align: center;
  height: calc(100vh - 66px);
}

.Container {
  overflow: auto;
  margin-top: 66px;
}

.RowBody {
  height: calc(100vh - 183px);
}

.Col {
  background: linear-gradient(180deg, #b18030, #f0eec7 20%, #b18030 );
}

.ColLeft {
  min-width: 300px;
  background: linear-gradient(180deg, #000000, #260000 20%, #000000 );
  color: #b18030;
}

.Footer {
  background: linear-gradient(0deg, #260000, #000000, #000000 );
  height: calc(100vh - 88vh);
}

@media (max-width: 350px) {
  .Container {
    margin-top: 60px;
  }
  .ColLeft, .Footer {
    display: none;
  }
  .RowBody {
    height: calc(100vh - 6px);
  }
}

@media print {
  .ColLeft, .Footer {
    display: none;
  }
}