@font-face {
  font-family: 'DragonSlapper';
  src: url(/src/assets/Fonts/DragonslapperRegular-6z1D.ttf);
}

@font-face {
  font-family: 'AGoblinAppears';
  src: url(/src/assets/Fonts/AGoblinAppears-o2aV.ttf);
}

@font-face {
  font-family: 'TribalDragon';
  src: url(/src/assets/Fonts/TribalDragon-23Ll.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --scrollbar-width: calc(100vw - 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dropdown-toggle.nav-link::before {
  color: #eebb5a !important;
}

.dropdown-item.active, .nav-link.active {
  background: #b18030 !important;
  border: solid 1px #eebb5a !important;
}