.bottomText {
    margin-top: 12px;
}

.link {
    font-weight: 600;
    padding: 0 4px;
    color: #260000;
}

.link:hover {
    color: #B18030;
}

@media (max-width: 1106px) and (min-width: 300px) {
    .Image {
        width: 86px;
    }
}