.dropShadow {
    box-shadow: 2px 2px 3px #000000;
}

.blur {
    filter: blur(5px);
}

.description {
    clear: both;
    padding: 2px 8px;
    background: linear-gradient(0deg, #b08030, #d0b670, 80%, #b08030);
    border: solid 1px #020000;
}

.ImgWrapper {
    background: #260000;
    border-radius: 8px;
    padding: 4px;
}

.Label2 {
    font-weight: 500;
    font-size: 0.6rem;
    color: #260000;
}

.container {
    font-family: 'AGoblinAppears';
    font-size: .65rem;
    border: solid 1px #260000;
    padding: 4px;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.ModelInfo {
    display: inline;
    margin-left: 12px;
    width: 100%;
}

.ObjectDetail {
    /* float: left; */
    display: inline-block;
    font-size: 8pt;
    padding-bottom: 8px;
}

.Request {
    display: inline;
    width: 100%;
}

.PaymentDetail {
    margin-top: 20px;
}

.PaymentMethod {
    width: 15rem;
    display: block;
    background: linear-gradient(0deg, #b08030, #d0b670, 80%, #b08030);
    color: #260000;
}

.PaymentMethodInput {
    width: 80%;
    display: block;
    background: #d0b670;
    margin: 2px 0px;
    border: solid 1px #260000;
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 7pt;
}

.PaymentMethodButton {
    width: 40%;
    margin: 2px;
    background: linear-gradient(0deg, #b08030, #d0b670, 80%, #b08030);
    color: #260000;
    border: solid 1px #260000;
    border-radius: 8px;
}

.PaymentMethodButton:hover {
    border: solid 1px #eebb5a;
}

.PaymentMethodButton_disabled {
    background: #260000;
    color: #d0b670;
}

@media (max-width: 1106px) and (min-width: 340px) {
    .ModelInfo {
        margin-left: 0;
        width: 100%;
        display: block;
    }

    /* .ImgWrapper {
        width: 21rem;
    } */
    .ImgWidth {
        width: 18rem;
    }
    .container {
        display: block;
    }
    .Request {
        margin-top: 8px;
    }
}

@media (max-width: 1106px) and (min-width: 300px) {
}