.image {
    width: 75px;
    height: 75px;
}

.header {
    display: flex;
    float: inline-start;
}

.bodyDiv {
    margin-top: 20px;
}

.bodyImage {
    float: left;
    margin-right: 1rem;
    width: 350px;
    height: 200px;
    border-radius: 8px;
    padding-bottom: 8px;
}