.image {
    width: 75px;
    height: 75px;
}

.header {
    display: flex;
    float: inline-start;
}

.Song {
    border: solid 1px #260000;
    border-radius: 8px;
    background: rgba(177, 128, 48, 0.65);
    padding: 12px;
    clear: both;
    width: 80%;
    box-shadow: 2px 2px 3px #000000;
}

.bodyImage {
    float: left;
    margin-right: 1rem;
    width: 160px;
    height: 200px;
    border-radius: 8px;
}

.float {
    display: flex;
    position: relative;;
    float: inline-start;
    text-align: start;
}

.colText {
    margin-top: 5px;
}

.link {
    padding: 0 4px;
    color: #260000;
}

.link:hover {
    color: #B18030;
}

.hr {
    border: solid 1px #eebb5a;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}