/* .header {
    font-family: 'DragonSlapper';
    background: #260000;
    background: linear-gradient(180deg, #000000, #260000 20%, #000000);
    color: #b18030;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 2px 2px 3px #000000;
} */

/* .icon {
    position: absolute;
    right: 8px;
}

.icon:hover {
    cursor: pointer;
    color: #eebb5a;
}

.LeftColumn {
    padding-top: 8px;
    background: #b18030;
    border: solid 1px #b18030;
    color: #260000;
} */

.container {    
    position: relative;
    font-family: 'AGoblinAppears';
    font-size: .65rem;
    text-align: start;
    padding: 4px;
    height: 250px;
}

.typing {
    display: block;
    position: absolute;
    width: 280px;
    height: 106px;
    top: 0px;
    left: 0px;
    margin: 2px;
    padding: 4px;
    background: #d0b670;
    border: 2px solid #260000;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #260000;
}
.gameButtonContainer {
    padding: 2px;
    border: none;
    border-radius: 5px;
    background: #260000;
    position: absolute;
    display: inline-block;
    top: 114px;
    left: 1px;
    height: 135px;
    width: 284px;
}

.playButton {
    display: inline;
    margin: 1px;
    width: 17.2rem;
    font-size: .55rem;
    background: #d0b670;
    background: linear-gradient(0deg, #b08030, #d0b670, 80%, #b08030);
    border: solid 1px #260000;
    border-radius: 5px;
    color: #260000;
}

.playButton:hover {
    border: solid 1px #eebb5a;
}

.buttonHidden {
    display: none;
}

.hiders {
    margin: 0;
    position: absolute;
    top: 0;
    width: 98%;
    z-index: 5;
}

.hiders p {
    position: relative;
    top: 5px;
    left: -4px;
    clear: both;
    margin: 0;
    margin-left: 60px;
    line-height: 0.67rem;
    padding: 3px;
    float: right;
    width: 0;
    background: #d0b670;
    animation: typing 2s steps(30, end);
    animation-fill-mode: both;
}

@keyframes typing {
    from { width: 98% }
    to { width: 0 }
}

.hiders p:nth-child(2) {
    animation-delay: 2s;
}
.hiders p:nth-child(3) {
    animation-delay: 4s;
}
.hiders p:nth-child(4) {
    animation-delay: 6s;
}
.hiders p:nth-child(5) {
    animation-delay: 8s;
}
.hiders p:nth-child(6) {
    animation-delay: 10s;
}